body {
    font-family: Arial, sans-serif;
    background-color: #eff4ef;
    color: #1a232c;
    margin: 0;
    padding: 0;
}

.header {
    font-family: Arial, sans-serif;
    background: #2e3d50;
    text-shadow: 1px 1px 2px black;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.header h1 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.header p {
  font-size: 1.2em;
  margin-top: 10px;
  opacity: 0.8;
}

.section {
    text-align: center

}

h2{
  font-weight: bold;
  color: #2c5282;
}

h5{
  text-decoration: underline;
}

.centered-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

.container{
    margin: auto;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #c5d4a9;
  }